body{
    background-color:black;
    color: greenyellow ;
    font-size: 25px;
    font-style: oblique;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

h1{
    text-align: center;
}
